

<button type="button" class="btn btn-primary btn-md" routerLink="/states/new" 
style="float: right; margin-bottom: 30px; margin-top: 30px;">Cadastrar Novo</button>
<h3 *ngIf="false">Você não tem estados, crie o seu primeiro cadastro!</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Estado</th>
      <th scope="col">Sigla</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let state of listStates" >
      <td>{{state.nome}}</td>
      <td>{{state.uf}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" (click)="editCountry()">Editar</button>
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteState(state.id)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
  
