<div id="wrapper">
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a routerLink="/home">Home</a>
          </li>
          <li>
              <a routerLink="/clients">Clientes</a>
          </li>
          <li>
            <a routerLink="/states">Estados</a>
          </li>
          <li>
            <a routerLink="/countries">Países</a>
          </li>
          <!-- <li>
              <a routerLink="/registers">Cadastros</a>
          </li> -->
          <li>
              <a routerLink="/reports">Relatórios</a>
          </li>
          <!-- <li>
              <a href="#">Sobre</a>
          </li>
          <li>
              <a href="#">Contato</a>
          </li> -->
      </ul>
  </div>
 </div> 
<router-outlet></router-outlet>
